{% extends 'principal.html' %}
{% block contenido %}
  <h1 class="display-3">Lista de clientes</h1>
  <div class="row">
    {% for message in messages %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% for cliente in clientes_mostrar %}
      <div class="col-sm-4 mb-2">
        <p>nombre: {{ cliente.nombre }}</p>
        <p>correo: {{ cliente.correo_electronico }}</p>
        <p>telefono: {{ cliente.telefono }}</p>
        <p>direccion: {{ cliente.direccion }}</p>
        <a name="" id="" class="btn btn-primary" href="{% url 'cliente_editar' cliente.id %}" role="button" onclick="actualizar()">Actualizar cliente</a>
        <a name="" id="" class="btn btn-primary" href="{% url 'cliente_editar_nombre' cliente.id %}" role="button" onclick="actualizar()">Actualizar nomnbre del cliente</a>
        <a name="" id="" class="btn btn-primary" href="{% url 'cliente_eliminar' cliente.id %}" role="button" onclick="eliminar()">Eliminar cliente</a>
      </div>
      
      {% empty %}
      <h1>Lo sentimos no hay clientes</h1>
    {% endfor %}
  </div>
{% endblock %}
